<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
  <script src="https://unpkg.com/vue"></script>

  <style>
    #todo-input{
      width: 95%;
    }
    .completed{
      text-decoration: line-through;
      color: gray;
    }
    .active{
      color: black;
    }
    .btn-remove{
      float: right;
      color: black;
      cursor: pointer;
    }
  </style>

  <title>Todo</title>
</head>
<body>
  <div id="todo-app" class="ui container">
    <div id="todos" class="ui stacked segments">
      <div class="ui segment sixteen wide column">
        <div class="ui checkbox" v-if="todos.length>0">
          <input type="checkbox" v-on:click="changeAllTodos">
          <label for=""></label>
        </div>
        <div id="todo-input" class="ui input">
          <input type="text" placeholder="todo" v-model="input" v-on:keyup.enter="addTodo">
        </div>
        <!--if completed is more than 1-->
      </div>

      <div id="todo" class="ui segment" v-for="todo in todos" v-if="filter(todo)">
        <div class="ui checkbox">
          <div v-bind:class="todo.isActive?'active':'completed'">
            <input type="checkbox" v-on:click="changeTodoStatus(todo)"  v-bind:checked="todo.isActive?'':'checked'"><!--checked가 어떻게 작동하는지 이해 안 감-->
            <label>{{todo.text}}</label>
          </div>
        </div>
        <div class="btn-remove" v-on:click="removeTodo(todo)">&#10006;</div>
      </div>

      <div id="footer" class="ui segment" v-if="todos.length > 0">
        <i v-if="cntActiveTodo === 1">
          1 item left
        </i>
        <i v-else>
          {{cntActiveTodo}} items left
        </i>

        <button v-on:click="setFilter('All')">All</button>
        <button v-on:click="setFilter('Active')">Active</button>
        <button v-on:click="setFilter('Completed')">Completed</button>
        <button v-if="cntCompletedTodo>0" v-on:click="removeCompletedTodos">Remove Completed</button>
      </div>
    </div>
  </div>
  <script>
    var vm = new Vue({
      el: '#todo-app',
      data: {
        input: '',
        todos: [],
        filterBy: 'All',
      },
      computed: {
        cntActiveTodo: function(){
          return this.getActiveTodos()
        },
        cntCompletedTodo: function(){
          return this.todos.length-this.cntActiveTodo
        }
      },
      methods: {
        getActiveTodos: function(){
          var cnt = 0;
            for(var i=0, todo; todo = this.todos[i];i++){
            if(todo.isActive)
              cnt++
          }
          return cnt
        },
        clearInput: function(){
          this.input = ''
        },
        addTodo: function(){
          this.todos.push({"text": this.input, "isActive": true})
          this.clearInput()
        },
        filter: function(todo){
          if(this.filterBy === "All")
            return true
          else if(this.filterBy === "Active")
            return todo.isActive
          else if(this.filterBy === "Completed")
            return !todo.isActive
        },
        setFilter: function(by){
          this.filterBy = by
        },
        changeTodoStatus: function(todo){
          if(todo.isActive){
            this.completeTodo(todo);
          }
          else
            this.activateTodo(todo);
        },
        activateTodo: function(todo){
          todo.isActive = true;
        },
        completeTodo: function(todo){
          todo.isActive = false;
        },
        removeTodo: function(todo){
          let index = this.todos.indexOf(todo);
          this.todos.splice(index, 1);
        },
        removeCompletedTodos: function(){
          for(let i=0;i<this.todos.length;i++){
            if(!this.todos[i].isActive){
              this.todos.splice(i,1)
              i--
            }
          }
        },
        changeAllTodos: function(){
          let allTodoSelected = (this.cntCompletedTodo == this.todos.length)
          let nextStatus = (allTodoSelected)?true:false

          for(let i=0;i<this.todos.length;i++){
            this.todos[i].isActive = nextStatus;
            console.log(this.todos[i].isActive)
          }
        }
      }
    })
  </script>
</body>
</html>
